<div class="col-md-4 ">
    <div class="card my-4">                        
        <h5 class="card-header">Теги</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Десерты</a>
                        </li>
                        <li>
                            <a href="#">Пирожные</a>
                        </li>
                        <li>
                            <a href="#">Торты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">К чаю</a>
                        </li>
                        <li>
                            <a href="#">Быстро</a>
                        </li>
                        <li>
                            <a href="#">День рождения</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Последние статьи</h5>
        <div class="card-body">
            <h5 class="card-title">О вредном влия...</h5>
            <p class="card-text">О вредном влиянии сахара на организм написана не одно статья. Давайте разберемся как дело обстаит на самом деле. Что такое сахар? Сахар, так же известный как...</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
        <hr>
        <div class="card-body">
            <h5 class="card-title">О вредном влия...</h5>
            <p class="card-text">О вредном влиянии сахара на организм написана не одно статья. Давайте разберемся как дело обстаит на самом деле. Что такое сахар? Сахар, так же известный как...</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
        <hr>
        <div class="card-body">
            <h5 class="card-title">О вредном влия...</h5>
            <p class="card-text">О вредном влиянии сахара на организм написана не одно статья. Давайте разберемся как дело обстаит на самом деле. Что такое сахар? Сахар, так же известный как...</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">О вредном влия...</h5>
            <p class="card-text">О вредном влиянии сахара на организм написана не одно статья. Давайте разберемся как дело обстаит на самом деле. Что такое сахар? Сахар, так же известный как...</p>
            <a href="#" class="card-link">Ссылка на статью</a>
        </div>
    </div>
</div>