<div class="col-my-4">
    <h5 class="card-header">Прокоментируйте:</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea rows="3" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</div>
<div class="media mb-4">
    <img src="/media/prof.png" alt="" class="d-flex mr-3 rounded-circle">
    <div class="media-body">
        <h5 class="mt-0">Диванный эксперт</h5>
        Вообще то сахар не так уж и вреден. Это мне бабушка говорила! И вообще кто лепил этот сайт? Руки бы вырвал. Вообще все сломано и все не правильно. Я бы за бесплатно сделал на много лучше!!!
    </div>
</div>